      //vendors
      $vendors: "-webkit",
      "-moz-",
      "-o-",
      "";
      //layout
      $auto-margin: 0 auto;
      //colors & BGcolors
      $white: #fff;
      $black: #444;
      $pirper: #AA0A76;
      $blue: #0080e5;
      $sky_light: #E0F0FF;
      $sky_dark: #9CCEFF;
      //fonts
      $open: 'Open Sans';
      $play: 'Play';
      $raleway: 'Raleway';
      //imgs Sources
      $headerBG: url("../img/header.svg");
      $serviceBG: url("../img/bg-1.svg");
      $footerBG: url("../img/footer.svg");